.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text-dark{
    margin: 20px;
    background: var(--third-green);
}

.welcome{
    font-size: 48px;
    margin: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--green);
}
.cards a{
    color: var(--green);
}
@media screen and (max-width: 930px) {
    .cards{
        justify-content: center;
    }
}