.users-container{
    display: flex;
    justify-content: space-between;
}
.users-content{
    flex: 1;
}
.users-content .title{
    font-size: 48px;
    margin: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--green);
}
.users-content th{
    background-color: var(--third-green);
}
.users-content .options{
    text-align: center;
}
.users-content td button{
    border: none;
    background: transparent;
    color: var(--green);
}
.create-user{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.create-user a{
    margin: 50px;
    margin-bottom: 0;
}