.buscar-container{
    text-align: center;
    background: var(--third-green);
    padding-top: 50px;
    height: 100vh;
}
.buscar-header{
    font-size: 22px;
    background: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-right: 50px;
}
.goback{
    font-size: 52px;
    display: flex;
    align-items: center;
    color: var(--orange);
}
.buscar-container h2{
    color: var(--green);
    font-weight: bold;
}
.buscar .login{
    color: #fff;
    text-decoration: none;
}
.cmdm-logo{
    max-width: 300px;
}

.buscar-form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.buscar-form-container form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
    min-width: 50%;
}

.buscar-form-container form label{
    text-align: start;
    margin-left: 10px;
    color: #000;
}
.buscar-form-container form input,.buscar-form-container form select{
    margin: 0px 10px 30px 10px;
    padding: 0 10px 5px 0;
    border: none;
    color: var(--green);
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent
}
.buscar-form-container form ::placeholder{
    color: var(--green);
    opacity: .4;
}
.buscar-form-container form .button button{
    padding: 8px 30px;
    margin: 20px;
    margin-top: 10px;
    border: none;
    background-color: var(--green);
    color: #FFF;
}
.select-anidado{
    display: flex;
    flex-direction: column;
}
.rdp-months {
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .fullname{
        flex-direction: column;
    }
    .buscar-form-container form{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .goback{
        margin-left: 10px;
    }
    .buscar-container .img-container img{
        margin-right: 10px;
    }
    .cmdm-logo{
        max-width: 80%;
    }
}