#assurances{
    padding-top: 120px;
    padding-bottom: 50px;
    background-image: url('../assets/img/network.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.assurances-container h3{
    /*text-align: center;*/
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--green);
    margin: 0 100px 20px 100px;
}
.assurance-p{
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0.5px;
    color: #636363;
    /*text-align: justify;*/
    margin: 0 100px 50px 100px;
}
.assurances-list{
    margin: 50px 100px 75px 100px;
    /*max-height: 50vh;*/
}
.assurances-list ul{
    display: grid;
    padding-left: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 50px;
}
.assurances-list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    background-color: #ffffff;
    list-style: none;
    color: #000;
    
    padding: 5px 15px;
}
.assurances-list ul li:before{
    color: var(--green);
    font-weight: bold;
    content: "+ ";
}
.assurances-list p{
    color: #383838;
}

.assurance-logo{
    max-width: 50px;
}

@media screen and (max-width: 776px) {
    .assurances-list ul li{
        font-size: 12px;
    }
    .assurances-list ul{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }
}
@media screen and (max-width: 480px) {
    .assurances-list {
        margin: 50px 50px 100px 50px;
    }
    .assurances-container h3{
        margin: 0 10px 20px 30px;
    }
    .assurance-p p{
        margin: 0 30px 50px 30px;
    }
    .assurances-list{
        margin: 20px;
        margin-bottom: 75px;
    }
}
@media screen and (max-width: 380px) {
    .assurances-list{
        margin: 50px;
        margin-bottom: 75px;
    }
    .assurances-list ul{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px 20px;
    }
}
@media screen and (max-width: 320px) {
    .assurances-container h3{
        font-size: 36px;
        margin: 0 10px 20px 10px;
    }
}