header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #0f2c1c15 0px 8px 24px;
    background-color: #09954ae2;
}

.img-container img {
    height: 70px;
    width: 170px;
    margin-left: 50px;
    filter: contrast(100%);
}
.nav-container{
    margin-right: 50px;
}
.nav-container ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.nav-container a{
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: all .3s ease;
    font-size: 14px;
    color: #FFF;
}

.nav-container a:hover{
    color: var(--orange);
    text-decoration: underline;
    transition: all .3s ease;
}

.login .icon{
    font-size: 30px;
    color: var(--orange);
}
.menuIcon{
    font-size: 32px;
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
}


@media screen and (max-width: 850px) {
    header{
        display: block;
    }
    .nav-container{
        margin-right: 0;
    }
    .nav-container ul{
        background-color: #e9e9e9;
        text-align: center;
        padding-left: 0;
    }
    .nav-container ul li a{
        color: var(--green);
    }

    .nav-container ul li:hover{
        background-color: #8bfecaa2;
    }
    .nav-container a{
        margin: 0;
        text-transform: none;
    }
    .img-container img{
        margin-left: 20px;
    }
}