#notfound{
    text-align: center;
}
.logged-notfound{
    display: flex;
}
.logged-notfound-right{
    flex-grow: 1;
}
.back-login {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-login h3{
    margin-left: 25px;
    margin-right: 25px;
}
.back-login a{
    margin-top: 25px;
    width: 300px;
}

@media screen and (max-width: 380px) {
    .back-login a{
        width: auto;
    }
}