.confirmation-container{
    padding: 24px;
}
.popup-title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
.popup-id{
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom:  1px solid #000;
    letter-spacing: 3px;
    font-weight: 600;
}
.popup-name{
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popup-address{
    margin-bottom: 5px;
    text-transform: uppercase;
} 
.popup-ruc, 
.popup-phone,
p{
    margin-bottom: 5px;
}

.popup-website{
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.popup-button button{
    padding: 8px 20px;
    margin: 20px;
    margin-top: 10px;
    border: none;
    background-color: #1267fbd6;
    color: #FFF;
}

.grid-details-container{
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: auto auto auto auto auto;
    border-bottom: 1px solid #000;
}
.grid-details-container p{
    margin-bottom: 10px;
}
.grid-details-item{
    text-align: start;
}
.important{
    font-weight: bold;
    margin-bottom: 0;
}
.popup-created-time{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #7b7b7b;
}