.register-form-container{
    text-align: center;
    /*background-image: url('../assets/img/about-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    padding-bottom: 50px;
}
.register-form-header{
    background: var(--green);
}
.goback{
    margin-left: 50px;
    font-size: 52px;
    color: var(--orange);
}

.register-form .img-container {
    align-items: center;
    display: flex;
    margin-right: 50px;
}
.register-form .login{
    color: #fff;
    text-decoration: none;
}
.cmdm-logo{
    max-width: 300px;
}
.register-form-form-container{
    background-color: var(--second-green);
    padding: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.register-form-form-container form{
    display: flex;
    flex-direction: column;
}
.register-form-form-container h3{
    color: var(--orange);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.register-form-container form label{
    text-align: start;
    margin-left: 10px;
    color: var(--green);
}
.register-form-container form input,.register-form-container form select{
    margin: 0px 10px 30px 10px;
    padding: 0 10px 5px 0;
    border: none;
    color: #000;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent
}
.register-password{
    text-align: justify;
}
.register-password input {
    width: 90%;
}
.register-form-container form ::placeholder{
    color: #000;
}
.register-form-container form .button button{
    padding: 8px 30px;
    margin-top: 10px;
    border: none;
    background-color: var(--orange);
    color: #FFF;
}
@media screen and (max-width: 500px) {
    .goback{
        margin-left: 10px;
    }
    .register-form-container .img-container img{
        margin-right: 10px;
    }
    .cmdm-logo{
        max-width: 80%;
    }
}