.user-header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: var(--third-green);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.home-img{
    margin-left: 50px;
}
.home-img .cmdm-logo{
    max-width: 150px;
}
.user-header-first{
    display: flex;
    align-items: center;
}
.user-header-first .first{
    color: var(--orange);
    margin-left: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 32px;
    font-family: "Saira Stencil One", sans-serif;
}

.user-header-last {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.user-header-last .profile-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-header-last .profile-icon .icon{
    color: var(--orange);
    font-size: 52px;
}