.profile-edit-doctor-container{
    display: flex;
    justify-content: space-between;
}
.edit-doctor-form{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.edit-doctor-form-container{
    text-align: center;
}

.edit-doctor-form-form-container{
    padding: 50px;
}
.edit-doctor-form-form-container form{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}
.edit-doctor-form-form-container h3{
    color: var(--orange);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.edit-doctor-form-container form label{
    text-align: start;
    margin-left: 10px;
    color: var(--green);
}
.edit-doctor-form-container form input,
.edit-doctor-form-container form select,
.edit-doctor-form-container textarea {
    margin: 0px 10px 30px 10px;
    padding: 10px;
    border: 1px solid #787878;
    border-radius: 10px;
    color: #000;
    outline: none;
    background-color: transparent;
}
.edit-doctor-form-container form input[name=email],
.edit-doctor-form-container form input[name=password2]{
    margin-bottom: 0;
}
.edit-user-password{
    text-align: justify;
}
.edit-user-password input {
    width: 95%;
}
.edit-doctor-form-container form ::placeholder{
    color: #000;
}
.edit-doctor-form-container form .button button{
    padding: 8px 30px;
    margin: 15px;
    margin-top: 10px;
    border: none;
    background-color: var(--orange);
    color: #FFF;
}
.success{
    color: var(--green);
}
.error{
    color: red;
}

@media screen and (max-width: 500px) {
    .goback{
        margin-left: 10px;
    }
    .edit-doctor-form-container .img-container img{
        margin-right: 10px;
    }
    .cmdm-logo{
        max-width: 80%;
    }
}