:root{
  --green: #09954b;
  --orange: #ef7f20;
  --second-green: #09954b50;
  --second-orange: #ef7f2090;
  --third-green: #09954b90;
}
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}
.scroll-to-top{
  color: red;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}